<ion-slide>
  <form [formGroup]="formb">
    <div class="contaier-center">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h1>Registrar novo Usuário</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list>
                      <ion-item>
                          <ion-icon name="person"></ion-icon>
                          <ion-input name="cpf" type="text" formControlName="cpf" required placeholder="CPF."></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-icon name="person"></ion-icon>
                          <ion-input name="email" type="text" formControlName="login" required placeholder="E-mail."></ion-input>
                      </ion-item>

                       <ion-item>
                          <ion-icon name="lock-closed-outline"></ion-icon>
                          <ion-input name="senha" type="password" formControlName="senha" required placeholder="Senha."></ion-input>
                      </ion-item>
                     
                      <ion-item>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <ion-input name="confirmarSenha" type="password" formControlName="confirmarSenha" required placeholder="Repita a senha." ></ion-input>
                        <div *ngIf="formb.controls['confirmarSenha'].hasError('validarSenhas') && formb.controls['confirmarSenha'].touched" style="color: red; padding-top: 0.2rem" >
                          O Campo senha esta diferente do campo confimarSenha.
                        </div>
                      </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <ion-button name="salvar"  color="danger"  type="submit" (click)="salvar()" fill="solid" expand="full">Registrar</ion-button>
                  <ion-button name="voltar"  color="primary" type="button" (click)="voltar()" fill="solid" expand="full">Voltar</ion-button>
                </ion-col>
            </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-slide>