<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{nomeAba}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="aviso" (click)="coletarNome('aviso')">
      <ion-icon name="nuclear-outline"></ion-icon>
      <ion-label>Aviso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="imovel"  (click)="coletarNome('imovel')">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Imovel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inquilino" (click)="coletarNome('inquilino')">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Inquilino</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Leitura" (click)="coletarNome('Leitura')">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Leitura da Leitura</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
