<!-- 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-inline: 46%;">
      <img src="../../../assets/imagem-54x.jpg"/>
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>

    <ion-item lines="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button name="salvar" *ngIf="!estaAutenticado" (click)="login()" expand="block" color="primary" >Login</ion-button>
        <ion-button name="salvar" *ngIf="!estaAutenticado" (click)="register()" expand="block" color="danger" >Register</ion-button>
        <ion-button (click)="googleSignIn()">Sign in with Google</ion-button> 
      </ion-col>
    </ion-row>
</ion-content>
-->

<ion-content>
  <ion-grid class="grid1">
      <ion-row class="row1">
          <ion-col>
          </ion-col>
      </ion-row>
      <ion-row class="row2">
          <ion-col>
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-slide>
      <div class="contaier-center">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>Login</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
                          <ion-item>
                              <ion-icon name="person" class="icon-login"></ion-icon>
                              <ion-input name="email" type="text" [(ngModel)]="email" required placeholder="E-mail"></ion-input>
                          </ion-item>
                          <br />
                          <ion-item>
                              <ion-icon name="lock-closed-outline" class="icon-login"></ion-icon>
                              <ion-input name="password" type="password" [(ngModel)]="senha" required placeholder="Senha"></ion-input>
                          </ion-item>
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-button *ngIf="!estaAutenticado" (click)="login()" type="submit" fill="solid" expand="full">
                          Entrar
                      </ion-button>
                      <ion-button *ngIf="!estaAutenticado" (click)="register()" type="submit" fill="solid" expand="full">
                          Register
                      </ion-button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label>
                          <h3>Esquecei a senha.</h3>
                      </ion-label>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>
  </ion-slide>
</ion-content>

<!-- 
<ion-list>
  <ion-item>
    <ion-label fixed>E-mail:</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Senha:</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button name="salvar" *ngIf="!estaAutenticado" (click)="login()" expand="block" color="danger" >Login</ion-button>
    <ion-button name="salvar" *ngIf="!estaAutenticado" (click)="register()" expand="block" color="danger" >Register</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="googleSignIn()">Sign in with Google</ion-button>
  </ion-item>
  </ion-list> 
-->