<ion-card>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title >Leitura</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-card>

<ion-content>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingSpinner="bubbles">
      <form [formGroup]="formb" >

        <ion-item>
          <ion-label>Nome: {{leitura.medidorConsumo.descricao}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Número Leitura:</ion-label>
          <ion-input name="numeromedidor" required placeholder="Digite número da leitura do medidor." formControlName="numeroleitura" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Data da leitura:</ion-label>
          <ion-datetime displayFormat="DD MM YYYY" name="dataleitura" formControlName="dataleitura" placeholder="Digite a data da leitura." display-timezone="utc"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-button name="salvar"  *ngIf="isAdministrador"  [disabled]="!formb.valid" color="primary" type="button" (click)="salvar()" >Salvar</ion-button>
          <ion-button name="visualizaLeitura"  color="primary" type="button" (click)="ativarListagem()">visualizaLeitura</ion-button>
          <ion-button name="voltar"  color="primary" type="button" (click)="voltar()">Voltar</ion-button>
          <button ion-button (click)='imprimirLeitura()' >Generate PDF</button>
        </ion-item>

        <ion-item *ngIf="isAtivarListagem">
          <app-visualiza-leitura-modal [item]="leitura.medidorConsumo"></app-visualiza-leitura-modal>
        </ion-item>

      </form>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>