  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingSpinner="bubbles">
      <ion-card *ngFor="let item of valoresConsumos">
          <ion-item>
              <ion-card-subtitle>Data da leitura: {{item.dataLeituraAtual | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
          </ion-item>
            <ion-item>
              <ion-card-subtitle>Número medido: {{item.numeroAtual}}</ion-card-subtitle>
          </ion-item>
          <ion-item>
              <ion-card-subtitle>Quantidade: {{item.quantidade}} {{item.unidadeMedida}}</ion-card-subtitle>
          </ion-item>
          <ion-item>
              <ion-card-subtitle>Valor da conta: {{item.valor | currency:'BRL':true:'1.2-2'}}</ion-card-subtitle>
          </ion-item>

          <ion-item>
            <ion-button name="editar"  *ngIf="isAdministrador" color="primary" type="button" (click)="editar(item)">Editar</ion-button>
            <ion-button name="excluir" *ngIf="isAdministrador" color="primary" type="button" (click)="excluir(item)">Excluir</ion-button>
          </ion-item>
      </ion-card>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>